body {
	font-family: 'Open Sans', sans-serif!important;
}

pre {
	background-color: #000!important;
	font-size: 20px!important;
	padding: 1.5em!important;
	color: white!important;


}
.jumbotron {
	text-align: center!important;
}
a.btn.btn-danger{
	height: 50px!important;
	font-size: 22px!important;
}
a.btn.btn-success{
	height: 50px!important;
	font-size: 22px!important;
}
a.btn.btn-info{
	height: 50px!important;
	font-size: 22px!important;
}
a.btn.btn-warning{
	height: 50px!important;
	font-size: 22px!important;
}
p.text-success {
	font-size: 22px;
}
footer{
	display: inline!important;
}